#w3-div {
  background-color: aquamarine;
  padding: 1%;
}
header {
  text-align: center;
}
#w3-link {
  color: darkblue;
  transition: 3s;
}
#w3-link:hover {
  color: red;
  font-size: 1.5em;
}
#froggy-div {
  background-color: darkorange;
  padding: 1%;
  margin-top: 0;
}
#froggy-link {
  color: red;
  transition: 2s;
}
#froggy-link:hover {
  border: black solid;
  padding: 4px;
  font-size: 1.5em;
}
#freecode-div {
  color: white;
  border: blue solid;
  background-color: #1f1f1f;
  border-bottom-right-radius: 75px;
  border-top-left-radius: 75px;
  padding: 7px;
  font-size: 1.5;
}
#freecode-camp {
  color: white;
  transition: 1s;
}
#freecode-camp:hover {
  color: aqua;
  transform: rotateX(180deg);
  transform: rotateZ(180deg);
  transform: rotateY(180deg);
  display: block;
  display: block;
}
