#wrapper {
  border: solid black 2px;
}
#heading {
  border-bottom: solid black 15px;
}
#h1 {
  font-size: 4em;
}
.line {
  border-bottom: solid black 3px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.right {
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.right1 {
  width: 50%;
}
.right2 {
  width: 50%;
}
.no-bottom-border {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.border-gray {
  border-top: gray 1px solid;
  margin-left: 2%;
}
.line2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#firstcase {
  border-bottom: solid black 7px;
}
#noleft {
  border-bottom: solid black 3px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.left1 {
  margin-left: 2%;
}
.no-margin-topborder {
  border-top: solid black 2px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
